[submodule "application/DqcTools"]
	path = infrastructure/nifi/application/DqcTools
	url = https://sources.autobiz.pro/DQC/DqcTools.git

[submodule "DqcTools"]
	path = DqcTools
	url = https://sources.autobiz.pro/DQC/DqcTools.git
