.idea
.bash_history
application/.bash_history
application/.local
._.DS_store
.DS_store
._cassandra
._elasticsearch
._neo4j
._nginx
._python
._docker
._html
._output
._.bash_history
._docker
.cache
.conda
.config
.ipynb_checkpoints
.ipython
.jupyter
*.pyc
.python_history
.env
data/mongo/
infrastucture/nifi/conf/archive/